/* Basic Style */
@font-face{
    font-family: "Letters_for_Learners";
    src: url(fonts/letters/Letters_for_Learners.ttf) format("truetype");
}

body {
	font-family: "Letters_for_Learners";
	font-size: 20px;
	color: white;
	position: relative;
	padding:0;
	margin: 0;
	background-image: url("imagenes/body_background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
}

#slider {
	position: relative;
	overflow: hidden;
	width: 938px;
	height: 350px;
	margin: 0 auto;
	padding: 0;
}

#slider2 {
	position: relative;
	overflow: hidden;
	width: 938px;
	height: 386px;
	margin: 0 auto;
	padding: 0;
}
#divBtn{
	display:flex;
	align-items:center;
}
button:hover{
	background: #69cd04;
}
.boton-verde{
	font-family: "Letters_for_Learners";
	display: block;
	align-items:center;
    font-size:23px;
    color:white;
	background:#4d9900;
	border: #4d9900;
}

.boton-azul{
	font-family: "Letters_for_Learners";
	display: block;
	align-items:center;
    font-size:28px;
    color:white;
	background:#2b475e;
	border: #2b475e;
	margin-bottom: 5px;
}

#lateralFree{
	display:flex;
	flex-direction: column;
	align-items:center;
}
#disponibles{
	font-size: 20px;

}

a:hover{
	color: #227ea5;
}


.boton-azul:hover{
	background: #2589b3;
}

#botonesArriba{
	margin-right:4%;
}



#barraSup{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #171a21;
}

#barraSup a{
	font-size: 23px;
}
#listaLateral{
	list-style:none;
}
#cuerpo {
	display: flex;
	flex-direction: row;
	margin-bottom: 1%;
}
#cuerpoFree{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 1%;
}


#freeArriba{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 7.5%;
	margin-right: 7.5%;

}




#panelIz{
	margin-right: 7%;
}
#footer{
	display: flex;
	justify-content: space-between;
	align-items: top;
	/*background: #171a21;*/
	background: black;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom:1%;
}

a{
	font-size:15px;
    text-decoration: none;
    color:white;
}



#footer h3{
	color:white;
}

#columna{
	display:flex;
	flex-direction: column;
}
.container {
	width:960px;
	margin: 0 auto;
	padding: 0 px 0;
}

a{
	color:white;
}

label.mobile_menu span {
	margin-left: 10px;
	color: white;
	display: none;
}

.nav {
	font-family: "Letters_for_Learners";
	/*font-weight: 400; /* 400 thinner */
	line-height: 15px;
	position: relative;
	padding: 0 0 0 4px; /* Fix for inline-block spacing*/
	padding-right: 20px;
	padding-left: 20px;
	margin: 0;
    background-image: linear-gradient(#171A21, #171A21 5%, #2B5978);
}

.nav a{
	font-size: 20px;
}

.nav h3{
	font-size: 20px;
}
.nav a, .nav a:link, .nav a:visited, .nav a:hover, .nav a:focus, span {
	color: #fff;
	text-decoration: none;
}


.nav > li {
	font-size: 15px;
	display: inline-block;
	text-align: center;
	margin-left: -4px; /* For the inline-block spacing */
}



.nav > li > a {
	padding:20px 18px;
	display: block;
}

.nav > li:hover > a{
	color: #fff;
}

.nav > li:hover {
	background-image: linear-gradient(#171A21, #171A21 40%, #2B5978);
}



.nav > li > ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:53px;
	background-color: #2b5978;
	width: 200px;
	text-align: left;
	margin-top:30px;
	padding: 0px;
	z-index: 99;
}


.nav > li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}


.nav li > ul li {
	font-size: 16 px;
	position: relative;
	display: block;
	padding: 15px 10px;
}

.nav > li > ul  li:hover {
	background-color: #2b5978;
}

.nav ul  li:hover > a {
	color: white;
}

.nav > li > ul li ul li:hover {
	background-color: #2b5978;
}input#mobile_menu { display: none; }

.nav > li > ul li ul li ul {
	background-color: #2b5978;
}

.nav > li > ul li ul li ul li:hover {
	background-color: #2b5978;
}



.nav > li > .fulldrop {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:53px;
	left: 0px;
	background-color: #2b5978;
	width: 100%;
	min-height: 100px;
	text-align: left;
	margin-top:30px;
	padding: 0;
	z-index: 99;
	overflow: hidden;
}


.nav > li:hover .fulldrop {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}

.nav ul li:hover:after {
	color: white;
}

.nav > li:hover .coldrop {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}

.nav .coldrop .column {width: 130px;margin:0 9px;}



.nav .column {
	width: 14.1%;
	float: left;
	color:white;
	margin: 0 0 0 2.2%;
}

.nav .column ul {
	padding: 0;
	margin: 0;
}

.nav .column ul li {
	padding: 0;
	list-style: none;
	font-size: 11px;
}

.nav .column h3 {
	font-size: 14px;
	padding: 14px 0;
	font-weight: 400;
	margin: 5px 0 5px 0;
}

.nav .column ul li a {
	display: block;
	padding: 0 0 15px 0;
}

/* Arrows */
.nav > li.dropdown > a:after {
	 content: " \f107";
	 font-family: FontAwesome;
	 color: #fff;
}

.nav ul li.dropdown:after {

  position: absolute;
  left: 170px;
  font-family: FontAwesome;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  margin-top: 2px;
}


.nav > li.search {

	border:none;
	-webkit-box-shadow:  none;
    box-shadow:  none;
    float: right;
    padding: 11px 6px;
    position: relative;
}

.nav > li.search:hover {
	background-color: transparent;
}


.nav > li  input {
	font-family: "Letters_for_Learners";
	padding: 7px 6px 6px 38px;
	margin: 0 5px;
	color:white;
	font-size: 19px;
	border:none;
	background: none;

}

.nav > li  input:focus {
	outline: none;
	border-color: white;
}

.nav > li.search i {
	position: absolute;
	left: 20px;
	top:20px;
	color: white;
	font-size: 19px;
}

#destacados{
	margin-bottom: 1%;
}
#destacados h2{
	margin-left: 1.5%;
}

.list-content{
	float: right;
}

#panel-form{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 0;
}

.izq{
  display: flex;
  width: 15%;
  height: 20px;
  margin-right: 20px;
  justify-content: flex-end;
  font-size: 25px;
}

.der{
  flex-grow: 2;
  margin-right: 40px;
}

.der input{
  width: 100%;
  border-radius: 5px;
}

.iniciar{
  display:flex;
  justify-content: center;
  margin-top: 45px;
}

.boton{
  font-family: "Letters_for_Learners";
  font-size: 30px;
  margin-top: 15px;
  background: none;
  border: solid 1px;
  border-color: white;
  border-radius: 5px;
  color: white;
}

#form-inicio-sesion{
  position: absolute;
  left: 35%;
  top: 30%;
  z-index: 1;
  background-color: #171a21;
  width: 700px;
  height: 200px;
}

#form-inicio-sesion ul li{
  list-style: none;
  margin-top: 10px;
  display: flex;
}

#form-inicio-sesion form{
  margin-top: 50px;
}
